# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
[Pp]ackages/
sysinfo.txt
*.stackdump
.vscode
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

LocalSettings.ini*
Assets/VRI/Models/IA Dress/sph/Thumbs.db.meta
Assets/VRI/Models/IA Dress/tex/Thumbs.db.meta
Assets/NicoChu2/Scenes/Stage02MineHall/LightingData.asset
Assets/NicoChu2/Scenes/Stage02MineHall/LightingData.asset.meta
Assets/NicoChu2/Scenes/Stage02FastPlay/LightingData.asset
Assets/NicoChu2/Scenes/Stage02FastPlay/LightingData.asset.meta
